{% trans_default_domain 'FOSUserBundle' %}

<p>
    <a class="btn btn-default btn-sm" href="{{ path('webhook_index') }}">
        <i class="glyphicon glyphicon-backward"></i>
        Back to the list of all forwards
    </a>
</p>

<div class="fos_user_user_show">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 well">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>
