{% set notification = notificationData.notification %}
{% set content = notificationData.content %}
<tr id="notif-{{ notification.id }}">
    <td>
        <div class="label label-success">{{ content.method }}</div>
    </td>
    <td>
        <table class="table table-striped table-condensed">
            {% for key, item in content.query %}
                <tr>
                    <th class="text-right">{{ key }}</th>
                    <td>{{ item|join(';') }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        {% include "webhook/_notificationCellRequestBody.html.twig" with {content:content} only %}
    </td>
    <td>
        <table class="table table-striped table-condensed">
            {% for key, item in content.headers %}
                <tr>
                    <th class="text-right">{{ key }}</th>
                    <td>{{ item|join(';') }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <strong data-moment="1">{{ notification.createdAt | date('U') }}</strong><br>
        <small>{{ notification.createdAt | date('Y-m-d H:i:s') }}</small>
    <td>
        <a class="btn btn-default btn-xs"
           href="{{ path('webhook_replay_notification', {id: notification.id}) }}">
            <i class="glyphicon glyphicon-refresh"></i> Replay
        </a>
    </td>
</tr>
