{% extends 'base.html.twig' %}

{% block body %}
    <h1>WebHook list</h1>

    <p>Server secret is: <code>{{ socket_io_client_secret }}</code></p>

    <p>
        <a class="btn btn-primary" href="{{ path('webhook_new') }}">Create a new webhook</a>
    </p>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Endpoint</th>
            <th>Private key</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Notifications</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for webHook in webHooks %}
            <tr>
                <td title="{{ webHook.id }}">{{ webHook.endpoint }}</td>
                <td>{{ webHook.privateKey }}</td>
                <td>{{ webHook.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ webHook.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ webHook.notifications|length }}</td>
                <td>
                    {{ form_start(delete_forms[webHook.id]) }}
                    <input class="btn btn-default" type="submit" value="Delete">
                    {{ form_end(delete_forms[webHook.id]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" href="{{ path('webhook_new') }}">Create a new webhook</a>
    </p>
{% endblock %}
