{% extends "base.html.twig" %}

{% block content %}
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Endpoint</th>
            <th>Private key</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('webhook_edit', {id: item.id}) }}">{{ item.endpoint }}</a></td>
                <td>{{ item.privateKey }}</td>
                <td>{{ item.createdAt | date }}</td>
                <td>{{ item.updatedAt | date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}